@font-face {
    font-family: 'TitiliumWeb';
    src: url('/assets/fonts/TitiliumWeb-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TitiliumWeb';
    src: url('/assets/fonts/TitiliumWeb-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TitiliumWeb';
    src: url('/assets/fonts/TitiliumWeb-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TitiliumWeb';
    src: url('/assets/fonts/TitiliumWeb-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik-Bold';
    src: url('/assets/fonts/Rubik-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik-ExtraBold';
    src: url('/assets/fonts/Rubik-ExtraBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik-Black';
    src: url('/assets/fonts/Rubik-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}