.app-block img {
    width: 200px;
    height: 200px;
}

.app-block {
    display: flex;
    grid-gap: 32px;
    margin-top: 2em;
    margin-bottom: 2em;
}

.app-block h2 {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
}

.app-block p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.app-text {
    margin: auto 0;
}