---
eleventyComputed:
    title: "Posts tagged {{ tag }}"
layout: 'page.njk'
pagination:
    data: collections
    size: 1
    alias: tag
permalink: /tags/{{ tag }}/
---

{%- for article in collections[tag] | sort | reverse %}

<article>
    <h3 class="article-title"><a href="{{ article.url }}">{{ article.data.title }}</a></h3>
    <p>{{ article.data.excerpt }}</p>
    <p class="article-date">{{ article.date.toISOString() | fullDate }}</p>
</article>

{% endfor %}